<!doctype html>
<html lang="en">

<head>
	<meta charset ="utf-8">
	<meta http-equiv="X-UA-Compatible">
	<meta name ="viewport" content="width-device-width, initial-scale=1.0">
	<ul id="nav_bar">
		<li><a href="index.html"><i class="fas fa-home"></a></li>
		<li><a href="html/resume.html">Resume</a></li>
		<li><a href="html/funfacts.html">Fun Facts About Me</a></li>
		<li><a href="html/trivia.html">Trivia!</a></li>
	</ul>
	<title>Homework 2 - Catherine McHale</title>
	<link rel="stylesheet" href="css/hw5.css">
	<script src="https://kit.fontawesome.com/536725d146.js" crossorigin="anonymous"></script>
	
	
	
</head>

	<body>
	<header id="page_header">
	<h1>Catherine McHale's Portfolio Website</h1>
		<img src="img/myself.jpeg" width="300" height="500" title="Catherine McHale" alt="A picture of myself">
			<blockquote> "And for my entire life, I've been an outsider in my own skin." <i>Forget Me Not</i>, Carolee Dean</blockquote>
				<br><p>Hello! My name is Catherine McHale, and I am a 21 year old IT student at Oakland University. I was born and raised in Macomb, Michigan for most of my life, but I not live in Harrison Township with my 
				mom and dad. I enjoy reading, playing video games, and being with my boyfriend of nearly two years. I have two cats that live with my boyfriend and a Chilean rose-haired tarantula, which also stays with him.</p>
				<p>I am currently working as a nurse aid for a private hoome health care company and have been doing so for over 2 years. Originally, I was interested in going into medicine, but have since changed career 
				paths. I am currently interested in pursuing a career in either bioinformatics or cybersecurity. To read more about my personal and professional life, please visit my other pages.
				<br><br><a href="html/resume.html">My Resume</a> <a href="html/funfacts.html">Fun Facts About Me</a></p>
	
		<hr><section>
		<label for="degree_progress"><b>Progress to Degree - Credits Taken</b></label><br>
		<progress id="degree_progress" min="0" max="128" value="102"></progress>
		</section>
		

		<hr>
		<footer>
		<p>Copyright 2021 &copy; Catherine McHale - Educational Only, No Commercial Value.</p>
		<a id="footerlink" href="mailto:catherinemchale@oakland.edu">Email</a> <a id="footerlink2" href="http://instagram.com/cattlmchale">Instagram</a>
		</footer>
	</body>
</html>