<!doctype html>
<html lang="en">

<head>
	<meta charset ="utf-8">
	<meta http-equiv="X-UA-Compatible">
	<meta name ="viewport" content="width-device-width, initial-scale=1.0">
	<ul id="nav_bar">
		<li><a href="../index.html"><i class="fas fa-home"></a></li>
		<li><a href="resume.html">Resume</a></li>
		<li><a href="funfacts.html">Fun Facts About Me</a></li>
		<li><a href="trivia.html">Trivia!</a></li>
		
	</ul>
	<title>Homework 2 - Catherine McHale</title>
	<link rel="stylesheet" href="../css/hw5.css">
	<script src="https://kit.fontawesome.com/536725d146.js" crossorigin="anonymous"></script>
</head>

	<body id="funbod">
	<header>
	<h1>Some Fun Facts About Me</h1>
	</header>

	<h2>My Favorite Book</h2>
	<p><b>"Forget Me Not" <i>Carolee Dean</i></b></p>
	<img src="../img/forgetmenot.jpg" width="300" height="500" title="Forget Me Not" alt="A picture of the cover of the book Forget Me Not written by Carolee Dean"><br>
	<b>Buy the book <a href="https://www.amazon.com/Forget-Me-Not-Carolee-Dean/dp/1442432551">here</a></b>
	<p>This book is written in free verse poetry and navigates the life of a teenager who is struggling with her mental health. It was the first time I didn't feel quite so alienated as a teenage trying to figure out life and battle my own mental health.
		It also holds my favorite quote, which can be found <a href="../index.html">here.</a>
	</p>
	<br>
	<h2>My Favorite Song</h2>
	<p><b>Feel Better - Penelope Scott</b></p>
	
	<iframe src="https://open.spotify.com/embed/track/6e0vjU61OuUzcqVKPEXHb4" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
	<br><br>
	<h2>My Favorite Show</h2>
	<p><b>The Rain</b></p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/st6r-8mLW_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<hr>
	<footer>
	<p>Copyright 2021 &copy; Catherine McHale - Educational Only, No Commercial Value.</p>
	<a id="footerlink" href="mailto:catherinemchale@oakland.edu">Email</a> <a id="footerlink2" href="http://instagram.com/cattlmchale">Instagram</a>
	</footer>
	</body>
</html>