<!doctype html>
<html lang="en">

<head>
	<meta charset ="utf-8">
	<meta http-equiv="X-UA-Compatible">
	<meta name ="viewport" content="width-device-width, initial-scale=1.0">
	<ul id="nav_bar">
		<li><a href="../index.html"><i class="fas fa-home"></a></li>
		<li><a href="resume.html">Resume</a></li>
		<li><a href="funfacts.html">Fun Facts About Me</a></li>
		<li><a href="trivia.html">Trivia!</a></li>
	</ul>
	<title>Homework 2 - Catherine McHale</title>
	<link rel="stylesheet" href="../css/hw5.css">
	<script src="https://kit.fontawesome.com/536725d146.js" crossorigin="anonymous"></script>
</head>

	<body id="resbody">
	<h1>Catherine McHale - Resume</h1>
	<h2 id="res">Contact Information</h2>
		<address>29035 Thistle Lane, Harrison Township, Michigan - 48045</address><br>
		<a href="mailto:catherinemchale@oakland.edu">catherinemchale@oakland.edu</a>
		<p>(586) 295-3051</p>

	<h3>Objective</h3>
	<p>Seeking a full time internship for summer 2022 as a full stack web developer.</p>

	<h3>Professional Experience</h3>

	<h4>July 2017 - March 2018, Cashier/Crew Member, Coldstone Creamery, Shelby Township, MI</h4>
	<p>Efficiently make and ring up customers orders, provided a clean and sanitary workplace, handle customer requests and complaints appropriately.</p>

	<h4>October 2018 - June 2019, Advancement Ambassador, Oakland University Telefund, Rochester, MI 48309-4488</h4>
	<p>Call Oakland University Alumnus and inform of current giving opportunities to allow for student and university advancement</p>

	<h4>March 2019 - Current, Nurse Aid, Nursing Unlimited, Inc., Clinton Twp, MI 48035 </h4>
	<p>Care for patients and help with activities of daily living such as eating, bathing, and walking.</p>
	

	<h3>Educational Experience</h3>
	<table id="html_table" border="2">
	  <tr>
	    <th>Start--End</th>
	    <th>Degree</th>
	  </tr>
		
	  <tr>
	    <td>2018--2022</td>
	    <td>Information Technology - Oakland University, Rochester, MI</td>
	  </tr>
	</table>

	<hr>
	<h3>Extracurricular Interests and Hobbies</h3>
	<p>In my free time, I enjoy spending my time listening to music, reading books, playing video games, cooking for myself and others, and enjoying the outdoors.</p>
	


	<hr>
		<footer>
		<p>Copyright 2021 &copy; Catherine McHale - Educational Only, No Commercial Value.</p>
		<a id="footerlink" href="mailto:catherinemchale@oakland.edu">Email</a> <a id="footerlink2" href="http://instagram.com/cattlmchale">Instagram</a>
		</footer>
	</body>
</html>