<!doctype html>
<html lang="en">

<head>
	<meta charset ="utf-8">
	<meta http-equiv="X-UA-Compatible">
	<meta name ="viewport" content="width-device-width, initial-scale=1.0">
	<ul id="nav_bar">
		<li><a href="../index.html"><i class="fas fa-home"></a></li>
		<li><a href="resume.html">Resume</a></li>
		<li><a href="funfacts.html">Fun Facts About Me</a></li>
        <li><a href="blog.html">Blog</a></li>
		
	</ul>
	<title>Homework 2 - Catherine McHale</title>
	<link rel="stylesheet" href="../css/hw5.css">
	<script src="https://kit.fontawesome.com/536725d146.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../css/trivia.css">

        <script src="../js/trivia.js" defer></script>
</head>

	<body>
	<header>
        <h1>Trivia!</h1>
	</header>
	<p>Instructions: Type the corresponding letter of the answer you think is correct in the text box below. </p>
	<form action="/url" method="post">
		<label>Question 1:</label>
			<p class="trivia_q">A)</p>
			<p class="trivia_q">B)</p>
			<p class="trivia_q">C)</p> <!--correct-->
			<p class="trivia_q">D)</p>
		<input type="text" name="answer1"></input>

		<label>Question 2:</label>
			<p class="trivia_q">A)</p> <!--correct-->
			<p class="trivia_q">B)</p>
			<p class="trivia_q">C)</p>
			<p class="trivia_q">D)</p>
		<input type="text" name="answer2"></input>

		<label>Question 3:</label>
			<p class="trivia_q">A)</p>
			<p class="trivia_q">B)</p>
			<p class="trivia_q">C)</p>
			<p class="trivia_q">D)</p> <!--correct-->
		<input type="text" name="answer3"></input>

		<label>Question 4:</label>
			<p class="trivia_q">A)</p>
			<p class="trivia_q">B)</p> <!--correct-->
			<p class="trivia_q">C)</p>
			<p class="trivia_q">D)</p>
		<input type="text" name="answer4"></input>

		<label>Question 5:</label>
			<p class="trivia_q">A)</p>
			<p class="trivia_q">B)</p>
			<p class="trivia_q">C)</p> <!--correct-->
			<p class="trivia_q">D)</p>
		<input type="text" name="answer5"></input>
		<button is="score" type="submit">See Your Score</button>
	</form>


	<hr>
	<footer>
	<p>Copyright 2021 &copy; Catherine McHale - Educational Only, No Commercial Value.</p>
	<a id="footerlink" href="mailto:catherinemchale@oakland.edu">Email</a> <a id="footerlink2" href="http://instagram.com/cattlmchale">Instagram</a>
	</footer>
	</body>
</html>